%section.ten-oh-announcement
  .ten-oh-label
    %span 12.6
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 12.6 introduces Security Scorecard, Release Evidence, Conan Repository, and much more!

      .btn-group
        = link_to "/blog/2019/12/22/gitlab-12-6-released/", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link" do
          See what’s new
